<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for item in items %}
    <a href="{% url 'detail' item.item.pk %}">
        
    <div>
        <p>{{item.item.name}}</p>
        <p>{{item.item.cost}}</p>
        <p> {{item.quantity}} </p>
        <img src={{item.item.image.url}} height="200", width="200"/>
    </div>
    <a href="{% url 'remove_cart' item.item.pk %}"> Удалить </a>
    </a>
    {% endfor %}
</body>
</html>