<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <form action="{% url 'search' %}" method="get">
            <input name="q" type="text" placeholder="Search...">
            <a href="{% url 'cart' %}">Корзина</a>
          </form>
       
        {% if request.user.is_authenticated %}
        <a href="{% url 'profile' %}"> {{request.user}} </a>
        <a href="{% url 'logout' %}">Выйти</a>
        {% endif %}
    </header>
    {% for item in page_obj %}
    <a href="{% url 'detail' item.pk %}">
    <div>
        <p>{{item.name}}</p>
        <p>{{item.cost}}</p>
        <a href="{% url 'add_cart' item.pk %}"> Добавить в корзину</a>
        <img src={{item.image.url}} height="200", width="200"/>
    </div>
    </a>
    {% endfor %}
    <div>
        <span>
          {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
          {% endif %}
          <span>
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>
          {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
          {% endif %}
        </span>
      </div>
</body>
</html>