{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Labirinth</title>
    <link rel="icon" href="assets/logo.png" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="container">
      <header class="header">
        <nav class="header__nav">
          <a href="{% url 'home' %}" class="nav__link">Главная</a>
          <ul class="catalog">
            <li class=nav__item><a href="#" class="nav__link">Каталог</a>
            <ul class = 'sidebar'>
              {% for i in catalog %}
              <li><a href="{% url 'filtered_products' i %}" class="link_catalog" name="catalog">{{i}}</a></li>
              {% endfor %}
              </ul>
              </ul>
              <form action="{% url 'search' %}" method="get">
                <input name="q" type="text" placeholder="Search...">
                <a href="{% url 'cart' %}">Корзина</a>
              </form>
        </nav>
        <img src="" alt="Logo" class="header__logo" />
      </header>
      <div class="companies">
        {% for i in catalog %}
        <a href="{% url 'filtered_products' i %}" class="company" name="catalog">{{i}}</a>
        {% endfor %}
      </div>
      <main class="main">
        <div class="main__center">
    
          {% for obj in page_obj %}
          <a href="{% url 'detail' obj.pk %}">
          <div class="card">
            <img class="card__photo" src="{{obj.image.url}}" alt="Cream" />
            <div class="card__info">
              <p class="card__text">{{obj.name}}</p>
              <p class="card__text">{{obj.cost}} ₽</p>
              <a href="{% url 'add_cart' obj.pk %}"> Добавить в корзину</a>
            </div>
          </div>
          {% endfor %}
        </a>
        </div>
        </div>
        <div>
          <span>
            {% if page_obj.has_previous %}
              <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
            <span>
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">Next</a>
            {% endif %}
          </span>
        </div>
      </main>
      <footer class="footer">
        <img src="./assets/logo.png" alt="" class="footer__logo" />
        <p class="footer__text">Поддержка <br />+79109999999</p>
        <p class="footer__text">
          Следите за нами в Telegram <br />
          @TEST
        </p>
        <p class="footer__text">Labirinth - Creating art in cosmetics<br />By Суворова</p>
      </footer>
    </div>
    <script>
      function open(){
        document.getElementById('sidebar').style.display = 'block'
      }
    </script>
  </body>
</html>
